gateway/src/main/resources/airquality.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://enicarthage.com/airquality"
           targetNamespace="http://enicarthage.com/airquality"
           elementFormDefault="qualified">

    <xs:element name="getAirQualityRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="zone" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getAirQualityResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="zone" type="xs:string"/>
                <xs:element name="AQI" type="xs:int"/>
                <xs:element name="mainPollutant" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>